.todoBox {
    border: 1px solid #adadad;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.534);
}

.checkbox-round {
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgb(23, 150, 223);
}

.completeItem {
    font-size: 1.3em;
    margin: auto;
}

.completeItem:hover {
    color: red;
}